.generalContainer {
  position: relative;
}
.generalContainerHidden {
  display: none;
}
.containerTituloProd {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tituloHidden {
  text-align: center;
  width: 100%;
  color: var(--verde-whatsapp);
  font-size: 1.3rem !important;
  padding-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: #fff;
}
.tituloProd {
  text-align: center;
  width: 100%;
  color: var(--verde-whatsapp);
  font-size: 1.5rem !important;
  padding-top: 20px !important;
  margin-bottom: 0 !important;
  background-color: #fff;
}
.price {
  background-color: #fff;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
  color: var(--forest-green-web);
  text-align: center;
}
.cardContainer {
  border: 2px outset #fff;
  box-shadow: 0 0 15px #000;
  width: 18rem;
  transition: 0.3s;
  border-radius: 10px;
  background-color: var(--banana-mania) !important;
}
.containerCard {
  padding-top: 15px !important;
}
.containerCard p {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}
.cardACtive {
  box-shadow: 0 0 25px 1px var(--light-sea-green);
}
.lineaDivisoraCardConCarrito {
  width: 100%;
  height: 2px;
  background-color: var(--pablo);
}
.containerSumarAlCarrito {
  height: 50px;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 5px;
}
.restar,
.sumar {
  width: 45px;
  height: 45px;
  border: 2px outset rgb(182, 182, 182);
  border-radius: 50%;
  transition: 0.2s;
}
.restar:hover,
.sumar:hover {
  background-color: var(--forest-green-web);
  border: 2px outset var(--verde-whatsapp);
  color: #fff;
  transition: 0.2s;
}
.cantidadSeleccionada {
  background-color: #fff;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  border: none;
}
.quiero {
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}
.btnAgregar {
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--verde-whatsapp);
  background-color: var(--verde-whatsapp);
  z-index: 1000;
}
.btnAgregar:enabled {
  animation: resplandor 3s infinite;
  animation-delay: 2s;
}

@keyframes resplandor {
  50% {
    box-shadow: 0 0 8px 5px var(--verde-whatsapp);
  }
}
.btnAgregar:disabled {
  line-height: 40px;
  border: none;
  font-size: 1.1em;
  border: 1px solid var(--verde-whatsapp);
  background-color: var(--banana-mania);
  color: var(--verde-whatsapp);
}

.signoMas {
  position: absolute;
  left: 33%;
  top: 10px;
  font-size: 2em;
}
.quitar {
  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: 0.2s;
  text-shadow: 0 0 4px #000;
}
.quitar:hover {
  box-shadow: 0 0 10px 3px var(--burnt-siena);
  transition: 0.2s;
}
.hayProducto {
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: var(--verde-whatsapp);
}
.inputDisabled {
  text-align: center;
  background-color: rgb(204, 204, 204);
  color: rgb(104, 104, 104);
  width: 55px;
}
.cantidadSeleccionada {
  text-align: center;
  width: 55px;
  height: 40px;
}
.productoConfirmado {
  width: 100%;
  height: 40px;
  background-color: var(--light-sea-green);
}
.btnQuitarProducto {
  width: 100%;
  height: 42px;
  background-color: var(--burnt-siena);
  border: 1px solid var(--burnt-siena);
  color: #fff;
}
.btnQuitarProducto:disabled {
  background-color: var(--banana-mania);
  border: 1px solid var(--burnt-siena);
  color: var(--burnt-siena);
}
.containerBtnsQuitarModificar {
  display: flex;
  flex-direction: row;
}
.sinProductoEnCarrito p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;
  background-color: var(--banana-mania);
  border: 1px solid var(--light-sea-green);
  color: var(--light-sea-green);
}
.containerInfoCarrito p {
  margin: 0;
  padding: 0;
}
.containerInfoCarrito {
  text-align: center;
  background-color: var(--light-sea-green);
  text-shadow: 0 0 4px #000;
  color: #fff;
  font-size: 1.1em;
  height: 42px;
  line-height: 42px;
  z-index: 1000;
}

.imgCard {
  cursor: pointer;
  width: 100%;
  height: 158px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}
.containerSowMore {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSowMore p {
  margin: 0;
  padding: 0;
  color: var(--forest-green-web);
  width: 25%;
}
.btnShowMoreDown {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border: 2px outset var(--swamp-green-faded);
  background: url(../../assets/imgs/flechaShowMoreDown.png) no-repeat center;
  background-size: 50%;
  background-color: var(--swamp-green);
  border-radius: 50%;
  transition: 0.3s;
}
.btnShowMoreUp {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border: 2px outset var(--swamp-green-faded);
  background: url(../../assets/imgs/flechaShowMoreDown.png) no-repeat center;
  background-size: 50%;
  background-color: var(--swamp-green);
  border-radius: 50%;
  transition: 0.3s;
}

.showInfo {
  position: absolute;
  top: 100%;
  width: 98%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  border: 1px solid rgb(202, 202, 202);
  background-color: #fff;
  z-index: 100000;
  box-shadow: 0 3px 10px #000;
  transition: transform 0.7s, z-index 5.5s, box-shadow 0.5s;
}
.hiddeInfo {
  background-color: #fff;
  z-index: 1;
  width: 98%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: translateY(-110%);
  transition: transform 0.7s, z-index 0s, box-shadow 0.5s;
}
.capaSuperior {
  z-index: 10000;
}
