.containerForm {
  min-height: 85vh;
  background-color: var(--banana-mania);
  padding-top: 30px;
}
h4 {
  text-align: center;
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 500px;
  color: var(--forest-green-web);
}
label {
  color: var(--forest-green-web);
}
form {
  width: 85vw;
  max-width: 500px;
  margin: 0 auto;
}
form input,
form textarea {
  width: 100%;
}
form textarea {
  resize: none;
}
.required {
  color: red;
}
.containerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerBtnVolverAlCarrito {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}
.btnVolverAlCarrito {
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
  border: 2px outset var(--verde-whatsapp);
  background-color: var(--verde-whatsapp);
  border-radius: 20px;
  transition: 0.2s;
}
.btnVolverAlCarrito:hover {
  box-shadow: 0 2px 3px #000;
  transition: 0.2s;
}
.btnVolverAlCarrito a:hover {
  color: #fff;
}
.btnVolverAlCarrito a {
  text-decoration: none;
  color: #fff;
}

.btnCheck:hover {
  box-shadow: 0 2px 3px #000;
  color: #fff;
  transition: 0.2s;
}

.btnCheck {
  text-decoration: none;
  padding: 0px 50px;
  font-size: 1.5em;
  color: #fff;
  border: 2px outset var(--verde-whatsapp);
  background-color: var(--verde-whatsapp);
  border-radius: 20px;
  transition: 0.2s;
}
.btnCheck:disabled {
  background-color: var(--swamp-green);
  border: 2px outset var(--swamp-green);
  color: rgb(141, 141, 141);
}
.itemForm {
  position: relative;
  padding-bottom: 40px;
}
.faltaNombre,
.faltaDireccion {
  animation: error 300ms;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 3px 8px;
  margin: 3px;
  color: var(--banana-mania);
  background-color: red;
}
.nombreOk,
.direccionOk {
  display: none;
}
.error {
  animation: error 300ms;
  outline: 2px red;
}
@keyframes error {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
.containerBtnEnviarPorWhatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 30px;
}
.btnEnviarPedido {
  border-radius: 10px;
  height: 40px;
  padding: 0 10px;
  background-color: var(--verde-whatsapp);
  transition: 0.3s;
}
.imgWhatsapp {
  width: 30px;
  height: 30px;
  background: url(../../assets/imgs/logoWathsapp.png) no-repeat center;
  background-size: 100%;
  border: none;
}
.itemsBtnEnviarPedido {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.btnEnviarPedido a {
  text-decoration: none;
  color: #fff;
}
.btnEnviarPedido a:hover {
  color: #fff;
}
.btnEnviar {
  border: 2px outset var(--verde-whatsapp);
}
.btnEditarDatos {
  color: #fff;
}
.btnEnviar:hover {
  box-shadow: 0 0 7px 3px var(--verde-whatsapp);
  transition: 0.3s;
}
.btnSeguirEditando:hover {
  box-shadow: 0 0 7px 3px var(--burnt-siena);
  transition: 0.3s;
}
.btnSeguirEditando {
  padding: 0 20px;
  background-color: var(--burnt-siena);
  border: 2px outset var(--burnt-siena);
}
.containerMuestraMensajeAEnviar {
  padding: 40px 0;
  max-width: max-content;
  margin: 0 auto;
}
.containerMuestraMensajeAEnviar p {
  margin: 0;
  padding: 5px;
}
.containerTildeOk {
  width: 30px;
  height: 30px;
  background: url(../../assets/imgs/ok.png) no-repeat center;
  background-size: 100%;
}
@media (max-width: 425px) {
  .containerMuestraMensajeAEnviar {
    max-width: 80%;
  }
}
@media (max-width: 550px) {
  label {
    margin-top: 10px;
  }
}
