.containerAgradecimiento {
  background: var(--banana-mania);
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: calc(100vh - 106px);
}

.containerAgradecimiento p {
  margin: 0;
  padding: 0;
  line-height: calc(100vh - 106px);
  font-size: 1.8em;
  background: linear-gradient(
    90deg,
    rgb(255, 97, 97) 0%,
    rgb(255, 97, 97) 40%,
    var(--mauve) 50%,
    var(--mauve) 55%,
    rgb(255, 97, 97) 65%,
    rgb(255, 97, 97) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: agradecimientoResplandeciente 2000ms infinite;
}

@keyframes agradecimientoResplandeciente {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}
