.containerOneCategory {
  background-color: var(--banana-mania);
  min-height: calc(100vh - 108.4px);
}
.tituloOneCategory {
  text-align: center;
  padding-top: 20px;
  font-size: 1.7em;
  color: var(--forest-green-web);
  text-shadow: 0 0 2px #fff;
}
.iconoCarrito {
  position: fixed;
  z-index: 10000;
}
.noHayProductos {
  width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  font-size: 1.4em;
  min-width: 100%;
  color: var(--forest-green-web);
  text-shadow: 0 0 3px #fff;
}
